# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.db
*.sqlite3
*.env
venv/
env/
*.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.code-workspace

# Data
data/
*.csv
*.json

# Build
dist/
build/
*.spec

# Executables
*.exe
